<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.MissionMapper">
    <resultMap id="BaseResultMap" type="com.shop.model.Mission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="start_time" jdbcType="DATE" property="startTime"/>
        <result column="end_time" jdbcType="DATE" property="endTime"/>
        <result column="creat_time" jdbcType="DATE" property="creatTime"/>
        <result column="place" jdbcType="VARCHAR" property="place"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="locking" jdbcType="INTEGER" property="locking"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
    </resultMap>

    <select id="queryAllMissions" parameterType="Mission" resultMap="BaseResultMap">
        select * from mission
        <where>
            <if test="null != id and id != '' ">
                and id = #{id}
            </if>

            <if test="type != null and type != '' ">
                and type = #{type}
            </if>

            <if test="status != null and status != '' ">
                and status = #{status}
            </if>

            <if test="locking != null and locking != '' ">
                and locking = #{locking}
            </if>

            <if test="startTime != null and startTime != '' ">
                and start_time &gt;= #{startTime}
            </if>

            <if test="endTime != null and endTime != '' ">
                and end_time &lt;= #{endTime}
            </if>

            <if test="pid != null and pid != '' ">
                and pid = #{pid}
            </if>


        </where>
        LIMIT #{offset},#{pagesize}
    </select>

    <select id="count" parameterType="Mission" resultType="integer">
        select count(1) from mission
        <where>
            <if test="null != id and id != '' ">
                and id = #{id}
            </if>

            <if test="type != null and type != '' ">
                and type = #{type}
            </if>

            <if test="status != null and status != '' ">
                and status = #{status}
            </if>

            <if test="locking != null and locking != '' ">
                and locking = #{locking}
            </if>

            <if test="startTime != null and startTime != '' ">
                and start_time &gt;= #{startTime}
            </if>

            <if test="endTime != null and endTime != '' ">
                and end_time &lt;= #{endTime}
            </if>

            <if test="pid != null and pid != '' ">
                and pid = #{pid}
            </if>

        </where>
    </select>

    <insert id="addMission" parameterType="Mission">
        insert into mission(type,pid,title,place,content,start_time,end_time,creat_time,status,locking)
        values(#{type},#{pid},#{title},#{place},#{content},#{startTime},#{endTime},#{creatTime},#{status},#{locking} )
    </insert>

    <update id="updateMission" parameterType="Mission">
        update mission

        set type = #{type},content = #{content},place = #{place},
        title = #{title},start_time = #{startTime},end_time = #{endTime}
        where id= #{id}


    </update>

    <delete id="delete" parameterType="integer">

      delete from mission
      where id = #{id}
    </delete>
</mapper>